/**************/
/* Custom CSS */
/**************/

body {
    /*background-color: lightblue;*/
    background-image: url("./Elements/Background_VL.png");
    /*background-image: url("../../Elements/Landing_Page_ref.png");*/
}

#nycmedia{
	padding: 40px 0px 0px 20px;
}

#AE{
	padding: 0px 0px 0px 20px;
}

#about1{
	padding: 30px 0px 50px 20px;
}

#about2{
	padding: 20px 0px;
}

#phone{
	padding: 0px 25px;
}

#video{
	padding: 5px 0px;
}
